<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" href="data:,"/>
    <title>Login</title>
</head>
<body>
<div>
    <button type="button">
        <a href="/auth/login">Login
        </a></button>
    <br>
    <button type="button">
        <a href="/auth/register">Register
        </a></button>
</div>
</body>
</html>
