<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" href="data:,"/>
    <title>Login</title>
</head>
<body>
<div>
    <button type="button">
        <a href="/auth/logout">Logout
        </a></button>
    <br>
    <button type="button">
        <a href="/chat/start">Chat Start
        </a></button><br>
</div>
</body>
</html>