<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" href="data:,"/>
    <title>Register</title>
    <style>
        .login {
            width: 500px;
            margin: 200px auto auto auto;
            text-align: center;
        }

        body {
            background-image: url("../public/img/loginBackground.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        label {
            padding: 10px;
        }

        html {
            background-color: #E4E9FD;
            background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
            min-height: 1000px;
            font-family: 'helvetica neue';
        }


        .button {
            margin: 20px;
            position: relative;
            border: none;
            display: inline-block;
            padding: 15px 30px;
            border-radius: 15px;
            font-family: "paybooc-Light", sans-serif;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
            text-decoration: none;
            font-weight: 600;
            transition: 0.25s;
            background-color: #77af9c;
            color: #d7fff1;
        }
    </style>
    <h2>Register</h2>
</head>
<body>
<div class="login">
    <form action="/users/register" method="post">
        <div style="padding: 30px;">
            <label>User Name</label>
            <input id="username" name="username" type="text" placeholder="User Name"/>
        </div>
        <div>
            <label>Password</label>
            <input id="password" name="password" type="password" placeholder="Password"/>
        </div>
        <br/>
        <div>
            <button class="button" type="submit">Go</button>
        </div>
    </form>
</div>
</body>
</html>
